<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body>
  <div class="titulo">
    <h1>
      TEST DE AMOR
    </h1>
    <h2>
      Ingresa tu nombre y el nombre de tu amor y comprueba el porcentaje de compatibilidad
    </h2>
  </div>
  <form>
    <div class="form-group" id="a">
      <input type="text" placeholder="Escribe tu nombre">
    </div>
    <div class="form-group" id="a">
        <input type="text" placeholder="Escribre el nombre de la persona que amas">
    </div>
    <div class="form-group" id="j">
      <input type="submit" value="TEST DE COMPATIBILIDAD">
    </div>
  </form>
</body>
