
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



<body>
  <div class="contenedorpadre">
  </div>
  <div class="contenedor">
    
    <form role="form">
      <div class="form-group">
        Bienvenido a la consulta de pokemones por favor ingresa los siguientes datos
      </div>
      <div class="form-group">
          <label>¿Que buscas encontrar pokemon,habilitys, type  ingresa uno de los tres</label>
          <input type="text" name="que" #que="ngModel"[(ngModel)]="que"  class="form-control" id="email" required>
        </div>
        
        <div class="form-group">
          <label>Ingresa el nimero de pokemon que quieres obtener:</label>
          <input type="text" name="id" #id="ngModel"[(ngModel)]="id" class="form-control" id="pwd">
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
    
      </form>
    
  </div>
  
    
</body>


